@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover-header: #007bff;
    --cor-hover-links: #272727;
    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.especialidades-destaque{
    color: var(--cor-terciaria);
}
.cabecalho{
    padding: 2% 0 0 0;
}
.cabecalho__menu {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}
.cabecalho__menu__link {
    padding: 10px 15px;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
}
.cabecalho__menu__link:hover {
    color: var(--cor-hover-header);
}
.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo{
    font-family: var(--fonte-primaria);
    font-size: 2.25rem; 
    font-weight: 593;
}
.titulo-destaque{
    color: var(--cor-terciaria);
}
.apresentacao__conteudo__texto{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__nav{
    border: 2px solid var(--cor-terciaria);
    padding: 21.5px 0px;
    width: 65%;
    border-radius: 8px;
    
    display: flex;
    justify-content: center;
    gap: 16px;

    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}
.apresentacao__links__nav:hover{
    background-color: var(--cor-hover-links);
}
.apresentacao__imagem{
    width: 50%;
}
.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}
@media (max-width: 1200px){
    .cabecalho{
        padding: 10% 0 0 0;   
    }
    .cabecalho__menu{
        gap: 25px;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}